@import "styles/colors.scss";

.Navigation {
  margin-left: 122px;
  display: flex;
  padding: 10px 100px 10px 150px;
  justify-content: space-between;

  .logo {
    font-family: "Crozzoe";
    font-size: 80px;
    color: white;
    cursor: pointer;
    padding-right: 30px;
    span {
      color: $main;
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;

    a {
      position: relative;
      color: white;
      font-size: 20px;
      cursor: pointer;
      transition: 0.3s;

      &:after {
        content: "";
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translate(-50%);
        width: 20px;
        height: 2px;
        background: $main;
        opacity: 0;
      }

      &:hover {
        color: $main;
      }

      &.active {
        color: $main;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    margin-top: 10px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      background: #6c7177;
      border-radius: 50%;
      margin-left: 30px;
      opacity: 0.6;

      svg{
        color:$text;
        font-size: 25px;
      }
    }
  }
}
