@import "styles/colors.scss";

@font-face {
  font-family: "Crozzoe";
  font-weight: regular;
  src: url("/Crozzoe-Personal-Use.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: url("/background.png") no-repeat center center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.black {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  #a,
  #b,
  #c,
  #d {
    width: 100%;
    height: 100%;
    background: black;
  }
}

.moon {
  position: absolute;
  background: url("/moon.png") no-repeat center center;
  background-size: cover;
  width: 100vh;
  height: 100vh;
  right: calc(0% + var(--moveX));
  top: calc(4% + var(--moveY));
  z-index: -1;
  opacity: 0.8;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding-left: 122px;
}
